# ------ C ------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/

# Clangd cache
.cache/

# Datasets
datasets/mushroom-species/
datasets/fashion-mnist/
datasets/cifar-10/

# ------ Draw.io ------
*.drawio.bkp
*.dtmp
